@import url('https://fonts.googleapis.com/css?family=Syncopate:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

@font-face {
  font-family: 'FontAwesome';
  src: url('https://use.fontawesome.com/releases/v5.8.1/webfonts/fa-solid-900.eot');
  src: url('https://use.fontawesome.com/releases/v5.8.1/webfonts/fa-solid-900.woff') format("woff"),
       url('https://use.fontawesome.com/releases/v5.8.1/webfonts/fa-solid-900.ttf') format("truetype"),
       url('https://use.fontawesome.com/releases/v5.8.1/webfonts/fa-solid-900.svg') format("svg");
}

html, body, #root {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9e462;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

}

header {
  background-color: #f9e462;
  min-height: 2em;
  padding: 1em 0 0 0;
  display: flex;
  justify-content: center;
  font-family: 'Syncopate', sans-serif;
  font-size: 9vw;

}

.background-image img {
  width: 100%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main p {
  font-family: 'Muli', sans-serif;
  font-size: 12px;
}

.action {
  font-family: 'Muli', sans-serif;
  margin-bottom: 1em;
  padding: 0.9em;
}

main div {
  width: 100px;
  height: 1em;
  padding: 1em;
  margin: 0.3em;

  display: flex;
  justify-content: right;
  align-items: center;


  font-family: 'FontAwesome';
  font-size: 0.75em;
  font-weight: 600;
  background-color: white;
  border: solid 2px black;
  cursor: pointer;
  border-radius: 5px;
}

main div.music {
background-color:#f9e462;
content: '\f001';
padding-right: 0.5em;
}

main div.music:before {
  content: '\f001';
  padding-right: 0.5em;

}

main div.basketball {

}

main div.basketball:before {
  content: '\f434';
  padding-right: 0.5em;
}

main div.kids {

}

main div.kids:before {
  content: '\f77c';
  padding-right: 0.5em;
}

main div.concert {
  background-color:#f9e462;
}

main div.concert:before {
  content: '\f7a6';
  padding-right: 0.5em;

}

main div.festival {

}
main div.festival:before {
  content: '\f25b';
  padding-right: 0.5em;
}

main div.teater {
  background-color: white;
  color: #000;
}
main div.teater:before {
  content: '\f630';
  padding-right: 0.5em;
}

.event_info {
  padding: 10px;
  font-family: 'Muli', sans-serif;
  font-size: 0.9em;
}

.name {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 0.9em;
  margin: 0 0.875em;
}

.date, .address {
  font-family: 'Muli', sans-serif;
  font-size: 0.9em;
  margin: 0 0.875em;
}

.event-image {
  width: 100%;
  margin: 20px 0 10px 0;
  border-top: solid 10px white;

}

main div.kids:before {
  content: '\f77c';
  font-size: 2em;
  padding: 0.5em;
}

main div.concert {
  background-color: #000;
}

main div.concert:before {
  content: '\f7a6';
  font-size: 2em;
  padding: 0.5em;
}

main div.festival {
  background-color: #000;
}

main div.festival:before {
  content: '\f25b';
  font-size: 2em;
  padding: 0.5em;
}

main div.teater {
  background-color: white;
  color: #000;
}

main div.teater:before {
  content: '\f630';
  font-size: 2em;
  padding: 0.5em;
}

header {
  background-color: #f9e462;
  min-height: 2em;
  padding: 1em 0 0 0;
  display: flex;
  justify-content: center;
  font-family: 'Syncopate', sans-serif;
  font-size: 2em;
  color: #000;
}

.image img {
  width: 100%;
}

@media only screen and (min-width: 426px) {
  img {
    width: 20em;
  }
}
